<?xml version="1.0" encoding="UTF-8"?>
<web-app>
<!--  
	각각의 응답 상태 코드별로 보여줄 페이지를 지정합니다.
	<error-page> : 하나의 에러 페이지를 지정
	<error-code> : 에러 상태 코드 지정
	<location>	 : 에러 페이지의 위치를 지정
	<exception-type> : 예외 종류
 -->
<error-page>
	<error-code>404</error-code>
	<location>/ex3_implicit_object/_6.exception/error/error404.jsp</location>
</error-page>
<error-page>
	<error-code>500</error-code>
	<location>/ex3_implicit_object/_6.exception/error/error500.jsp</location>
</error-page>

<error-page>
	<error-code>java.lang.NullPointerException</error-code>
	<location>/ex3_implicit_object/_6.exception/error/NullPointer.jsp</location>
</error-page>
</web-app>